/* MEYER-WEB RESET SHEET (modified) ////////////////////////////////////// */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
dialog {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  border: none;
  background-color: transparent;
}

/* INTERFACE RESET //////////////////////// */
a {
  text-decoration: none;
  color: inherit;
}

a:focus, button:focus, input:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
}

input[type="checkbox"], input[type="range"] {
  margin: 0;
}

input[type="range"] {
  background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

/* GENERAL ///////////////////////////////////////////////////////// */
* {
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  scroll-behavior: smooth; 
  overscroll-behavior: contain;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p a {
  text-decoration: underline;
  padding: 0 0.3rem;
}

a, button, label, input {
  cursor: pointer;
}

button path {
  fill: currentColor;
}

button line {
  stroke: currentColor;
}

/* This is to make these elements at least
the minimum recommended size on mobile. 
Recommended interface size is 40px - 70px, 
with 50-60 being ideal. */
/* a, button, input {
  min-width: 40px;
  min-height: 40px;
} */

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

/* PREVENT OVERSIZED IMAGES */
img {
  max-width: 100%;
  object-fit: contain;
}

svg {
  width: 1rem;
}

/* LAYOUT //////////////////////////////////////////////////// */
.vp {
  width: 100vw;
  height: var(--viewport-height);
}

.uarr-container {
  width: 100vw;
  height: var(--viewport-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.uarr, .uarr1, .uarr2 {
  position: relative;
  overflow: hidden;
}

.horizontal-free-scroll {
  overflow-x: scroll;
  scrollbar-width: none;
  white-space: nowrap;
}

.horizontal-free-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-free-scroll > * {
  display: inline-block;
}

/* PORTRAIT / LANDSCAPE ///////////////////////// */
@media screen and (orientation: portrait) {
  .landscape {
    display: none;
  }
  :root {
    --uarr-width: var(--uarr1-width);
  }
  .uarr {
    width: var(--uarr1-width);
    height: var(--uarr1-height);
  }
}

@media screen and (orientation: landscape) {
  .portrait {
    display: none;
  }
  :root {
    --uarr-width: var(--uarr2-width);
  }
  .uarr {
    width: var(--uarr2-width);
    height: var(--uarr2-height);
  }
}

.uarr1 {
  width: var(--uarr1-width);
  height: var(--uarr1-height);
}
.uarr2 {
  width: var(--uarr2-width);
  height: var(--uarr2-height);
}

/* FOREGROUND / BACKGROUND//////// */
.foreground {
  position: absolute;
  left: -0.1%;
  width: 100.2%;
  top: -0.1%;
  height: 100.2%;
}

.background {
  position: absolute;
  left: -0.1%;
  width: 100.2%;
  top: -0.1%;
  height: 100.2%;
  /* z-index: -1; */
}

/* SITE MENU /////////////////////////////// */
.site-menu {
  position: fixed;
  pointer-events: none;
  z-index: 1;
}

.site-menu.open {
  pointer-events: initial;
}

/* COLORS ////////////////////////////////////////////////////// */
:root {
  --color1: hsl(0, 0%, 100%);
  --color1-1: hsl(0, 0%, 95%);
  --color1-2: hsla(0, 0%, 95%, 0.5);
  --color2: hsl(0, 0%, 0%);
  --color3: hsl(40, 100%, 80%);
  --color3-1: hsl(40, 100%, 70%);
  --color3-2: hsl(40, 100%, 50%);
  --color3-3: hsl(40, 100%, 60%);
  --color4: hsla(40, 100%, 10%, 0.9);
  --color4-1: hsl(40, 100%, 7%);
  --color5: hsl(150, 100%, 80%);
  --color5-1: hsl(150, 100%, 60%);
  --color5-2: hsl(150, 100%, 85%);
  --color5-3: hsl(150, 100%, 48%);
}

/* FONTS ///////////////////////////////////////////////////////// */
:root {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: 600;
}

/* FOCUS HIGHLIGHTING /////////////////////////////////////////// */
/* @media (hover: hover) {
  a:focus-visible, input:focus-visible, button:focus-visible {
    transform: scale(1.2);
    outline: 10px solid hsla(0, 0%, 50%, 0.8);
    outline-offset: 5px;
    z-index: 1;
  }
} */